.box {
  background-color: #eeeeee;
  margin-top: 10vh;
  border-radius: 16px;
  padding: 2vh;
  padding-bottom: 0vh;
  font-size: 1.2em;
}
body {
  background-color: #393e46;
}
.title {
  text-align: center;
  margin-bottom: 2vh;
}
.btn {
  margin-top: 2vh;
  background-color: #0092ca !important;
  color: white;
}
.note {
  font-size: 0.83em;
}
.asterisk {
  color: red !important;
}
