body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #f8f9fa;
}
#descnote {
  opacity: 0.5;
}
#slackForm {
  padding: 2%;
  border-radius: 7px;
  border-width: 1px;
  border-style: solid;
  background-color: #fff;
}
#slider {
  width: 100vw;
  height: 100vh;
  background-color: #808080;
}
#header {
  padding-top: 2vh;
  font-size: 20px;
}
#about {
  height: 60vh;
  padding-top: 8vh;
}
#abt-img {
  margin-top: 2vh;
}
