body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #f8f9fa;
}
#descnote {
  opacity: 0.5;
}
#slackForm {
  padding: 2%;
  border-radius: 7px;
  border-width: 1px;
  border-style: solid;
  background-color: #fff;
}
#slider {
  width: 100vw;
  height: 100vh;
  background-color: #808080;
}
#header {
  padding-top: 2vh;
  font-size: 20px;
}
#about {
  height: 60vh;
  padding-top: 8vh;
  background-color: #fff;
}
#abt-img {
  margin-top: 2vh;
}
#faq {
}
h1 {
  font-size: 48px;
}
.section-title {
  margin-bottom: 5vh;
}
.question {
  margin-bottom: 4vh;
}
#login {
  height: 30vh;
  background-color: #fff;
  padding-top: 12vh;
}
#footer {
  height: 20vh;
  background-color: #212529;
  color: #fff;
}
